<section xmlns:th="http://www.thymeleaf.org">

    <!-- card action ~ start -->
    <div th:fragment="card-readonly(uuid, title, thumbnail, author,text, index)" class="card shadow-sm">
        <div class="upper">
            <img th:src="@{http://localhost:8080/files/{thumbnail}(thumbnail=${thumbnail})}" alt="My Card" class="bd-placeholder-img card-img-top img-fluid">
        </div>

        <div class="card-body">
            <h4 th:text="${title}" class="card-text"></h4>
            <span th:text="${author.name}" class="card-text"></span>
            <p th:text="${text}" class="card-text"></p>
        </div>
    </div>
    <!-- card action ~ end -->

</section>